@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    min-width: 100vw;
    font-size: 100%;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

header{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem 0;
}

header img{
    height: 62px
}

header nav{
    display: flex;
    gap: 8rem;
}

header a {
    color:#FFF2E7;
    font-size: 18px;
}

main{
    border-top: 1px solid #FFF2E7;
    padding: 1.2rem 0;
}

main .conteudo-principal{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main .conteudo-principal .conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main .conteudo-principal .conteudo-principal-escrito h1{
    color: #FFF2E7;
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 64px;
}

main .conteudo-principal .conteudo-principal-escrito h2{
    color: #FFF2E7;
    font-weight: 400;
    font-size: 24px;
}

main .conteudo-principal .conteudo-principal-escrito button{
    color: #2F2325;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    background: #ECD6C4;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    width: 185px;
    height: 67px;
    cursor: pointer;
}

main .conteudo-principal .conteudo-principal-escrito button:hover{
    background: #a59589;
}

main .conteudo-principal img{
    width: 390px;
}

main .conteudo-secundario-escrito{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    align-items: center;
}

main .conteudo-secundario-escrito h3{
    color: #FFF2E7;
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 24px;
    padding-top: 4rem;
    border-top: 1px solid #FFF2E7;

}

main .conteudo-secundario-escrito p{
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

footer{
    border-top: 1px solid #FFF2E7;
    padding:2rem 0;
}

footer img{
    width: 300px;
    display: block;
    margin: 0 auto;
}